<div class="min-h-screen home-bg-image bg-gray-50 flex flex-col items-center p-4 relative">
  <%= image_tag "fighterProfile.png", class: "max-w-[60%] mb-16 mt-4" %>
  <%= turbo_frame_tag "quiz-container", class: "w-full max-w-md bg-white bg-opacity-90 shadow p-6 mx-4 mb-64 my-auto justify-center" do %>
    <h1 class="text-2xl font-bold mb-4 text-center">Martial Arts Personality Quiz</h1>
    <p class="text-gray-600 mb-6 text-center">Answer 18 quick statements to find out whether you're a Warrior, Athlete, or Artist.</p>
    <div class="flex gap-2">
      <a href="<%= quiz_start_path %>" class="btn-primary w-full text-center">Start Quiz</a>
    </div>
  <% end %>
  <%= image_tag "footerTag.png", class: "fixed bottom-0 left-1/2 transform -translate-x-1/2 px-6 mb-16" %>
</div>
