<div class="min-h-screen quiz-bg-image bg-gray-50 flex items-center justify-center p-4">
  <%= turbo_frame_tag "quiz-container", class: "w-full max-w-md bg-white bg-opacity-80 shadow p-6 mx-4" do %>
    <%= render partial: 'question', locals: { question: @question } %>
  <% end %>
</div>
