<div class="min-h-screen result-bg-image flex items-center justify-center p-4 relative">
	<div class="absolute inset-0"></div>
	<div id="quiz-container" class="w-full max-w-md bg-white bg-opacity-90 rounded-lg shadow p-6 mx-4 relative z-10">
		<%= render partial: 'result' %>
	</div>
</div>
