<div class="min-h-screen bg-gray-50 flex items-center justify-center p-4">
	<div id="quiz-container" class="w-full max-w-md bg-white rounded-lg shadow p-6 mx-4">
		<%= render partial: 'result' %>
	</div>
</div>
